$theme-site-header-breakpoints: (
  hide-primary: 100000px, // effectively always hide the primary nav
  hide-secondary: 780px,
  small-logo: 980px,
  small-text-primary: 0,
  small-text-secondary: 980px
);

// Colors
$primary: #103a57;
$leaders-accent-color: #0155a4;
$leaders-primary-color: $primary;

@import "@ab-media/package-global/scss/core";

.leaders {
  &__header {
    background-color: $leaders-accent-color;
  }
  &__header-image {
    img {
      width: 100%;
      max-width: 512px;
      max-height: 180px;
    }
  }
  &__footer {
    .btn-primary {
      background-color: $leaders-primary-color;
    }
  }
}

.leaders-index-page {
  &__logo {
    padding: 0;
  }
}
