$theme-site-header-breakpoints: (
  hide-primary: 100000px, // effectively always hide the primary nav
  hide-secondary: 780px,
  small-logo: 980px,
  small-text-primary: 0,
  small-text-secondary: 980px
);

// Colors
$primary: #103a57;
$leaders-accent-color: #0155a4;
$leaders-primary-color: $primary;

@import "@ab-media/package-global/scss/core";

.leaders {
  &__header {
    background-color: $leaders-accent-color;
  }
  &__header-image {
    img {
      width: 100%;
      max-width: 512px;
      max-height: 180px;
    }
  }
  &__footer {
    .btn-primary {
      background-color: $leaders-primary-color;
    }
  }
}

.leaders-index-page {
  &__logo {
    padding: 0;
  }
}

.site-navbar {
  $self: &;
  .btn--aqua-live-dropdown {
    .marko-web-icon {
      display: none;
    }
  }
  &__items--aqua-live-dropdown {
    position: absolute;
    top: 55px;
    display: none;
    flex-direction: column;
    z-index: 1000;
    background: #fff;

    width: 227px;
    padding: map-get($spacers, 2);
    box-shadow: $theme-box-shadow-lg;
    &#{ $self }__items--aqua-live-dropdown-open {
      display: inline;

    }
    #{ $self }__link {
      padding-left: 0;
    }
    li {
      margin-bottom: 0.25rem;
    }
    .btn:hover {
      box-shadow: none;
    }
  }
  &__left {
    .btn--aqua-live-dropdown {
      @include skin-button($style: "secondary");
      padding: 0 12px 0 10px;
      min-width: 40px;
      height: 40px;
      font-size: 1rem;
      color: $white;
      border-radius: 4px;
      outline-color: none;
      box-shadow: none;
      border: 1px solid $white;
      background-color: $secondary;
      &:hover,
      &:focus {
        color: $white;
        border: 1px solid $white;
        background-color: $secondary;
        border: 1px solid $white;
        svg {
          fill: $white;;
        }
      }
      :first-child {
        margin-right: 2px;
      }
      svg {
        display: inline-block;
        width: 12px;
        height: 1.25rem;
        fill: $white;
        vertical-align: sub;
      }
    }
  }
}
