$marko-web-document-container-max-width: 1300px;
$skin-content-body-max-width: 1000px !default;

// Fonts
$skin-font-family-primary: solitaire-mvb-pro, sans-serif;
$skin-font-family-secondary: informapro, sans-serif;

$leaders-base-font-family: $skin-font-family-secondary;
// Navbar
$theme-site-navbar-logo-height: 45px !default;

// Ads
$leaderboard-min-height-mobile: 100px !default;
$leaderboard-min-height-desktop: 250px !default;

$theme-site-footer-corporate-logo-height: 40px !default;
