$altZoneWidth: 800px !default;
.broadstreet-zone {
  > div:only-child {
    padding-top: 30px !important;
  }
}
.ad-container {
  $self: &;
  &#{ $self }--combined-leaderboard {
    &#{ $self }--leaderboard {
      min-height: 310px;
    }

    &#{ $self }--billboard {
      min-height: 605px;
    }
  }
  &--rotation {
    min-height: 150px;
  }

  &--inline-content-desktop,
  &--inline-content-mobile {
    min-height: 150px;
  }

  &--rotation-alt,
  &--inline-content-mobile,
  &--rotation-mobile {
    @media (min-width: $altZoneWidth) {
      display: none;
    }
  }
  &--content-leaderboard,
  &--inline-content-desktop,
  &--rotation-desktop {
    @media (max-width: $altZoneWidth) {
      display: none;
    }
  }

}
